<footer class="pt-5 d-flex justify-content-between">
    <span>Copyright © 2021 <a href="https://www.sp.senac.br/senac-taubate">Senac TI</a></span>
    <ul class="nav m-0">
        <li class="nav-item">
            <a class="nav-link text-secondary" aria-current="page" href="#">Política de Privacidade</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Termos e condições de uso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Contato</a>
        </li>
    </ul>
</footer>